[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/gtest"]
	path = lib/gtest
	url = https://github.com/google/googletest.git
[submodule "lib/gl3w"]
	path = lib/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "tinyobjloader"]
	path = lib/tinyobjloader
	url = https://github.com/antoine1fr/tinyobjloader.git
	branch = fix-cmake
