[submodule "tinyobjloader"]
	path = lib/tinyobjloader
	url = https://github.com/antoine1fr/tinyobjloader.git
	branch = fix-cmake
[submodule "lib/imgui"]
	path = lib/imgui
url=git@github.com:antoine1fr/imgui.git
	branch = v1.80