[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/gl3w"]
	path = lib/gl3w
	url = https://github.com/antoine1fr/gl3w.git
	branch = customize-cmake
[submodule "tinyobjloader"]
	path = lib/tinyobjloader
	url = https://github.com/antoine1fr/tinyobjloader.git
	branch = fix-cmake
